<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
  </head>
  <body>
    <h1>ログイン</h1>

    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}

    <form action="{{ url_for('login') }}" method="post">
      <div>
        <label for="username-input">ユーザー名</label>
        <input
          id="username-input"
          type="text"
          name="username"
          placeholder="必須入力です"
        />
      </div>
      <div>
        <label for="password-input">パスワード</label>
        <input
          id="password-input"
          type="password"
          name="password"
          placeholder="必須入力です"
        />
      </div>
      <button type="submit">ログイン</button>
    </form>
  </body>
</html>
